<!DOCTYPE html>
<html lang="ca">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendaris de la programació de TV3</title>
  </head>
  <body>
    <h1>Calendaris de la programació de TV3</h1>
    <ul>
      <% Object.entries(channels).forEach(([channelId, channel]) => { %>
        <li><a href="<%= `/ics/${channelId}` %>"><%= channel.title %></a></li>
      <% }) %>
    </ul>
    <!-- iframe generated from Google Calendar. Custom changes (which are not 
    available in Google's UI): `mode` param in the URL has been set to `DAY`, and 
    width has been set to "100%". -->
    <iframe src="https://calendar.google.com/calendar/embed?title=Programaci%C3%B3%20de%20TV3&amp;showTitle=0&amp;mode=DAY&amp;height=1200&amp;wkst=2&amp;hl=ca&amp;bgcolor=%23FFFFFF&amp;src=1m3djpt5pibbms6ufltmdpt1pigiggg0%40import.calendar.google.com&amp;color=%236B3304&amp;src=8e0d3mhv3543q6lp246mq5ijbrqpp2dr%40import.calendar.google.com&amp;color=%23853104&amp;src=qccmpve95tmnmk6e43mte08sq7p4ejbd%40import.calendar.google.com&amp;color=%23711616&amp;ctz=Europe%2FMadrid" style="border-width:0" width="100%" height="1200" frameborder="0" scrolling="no"></iframe>
  </body>
</html>